#rick:link { 
    color: #e60073;
    text-decoration: none;
    }
#rick:visited { 
    color: #e60073;
    text-decoration: none;
    }
#rick:hover { 
    color: #e60073;
    text-decoration: underline;
    }
#rick:active { 
    color: #e60073;
    text-decoration: underline;
    }