:root {
    --spink: #e60073;
    --spink2: #ac3973;
    --sgray: #595959;
    --sgray2: #3d3d3d;
    --navgray: #111;
    --hgray: #696969;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    }
body { background-color: var(--sgray);
    font-family: 'Potta One', cursive;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    }
h1 { font-size: 4.5rem;
    color: var(--spink);
    padding: 2rem;
    text-shadow: .2rem .15rem black;
    }
#logohome { border: .4rem solid black;
    border-radius: 1rem 2.5rem;
    padding: .2rem;
    background-color: var(--sgray2);
    }
.info { color: var(--spink);
    font-size: 3rem;
    text-shadow: .2rem .2rem black;
    }
hr { border-width: .2rem;
    width: 60%;
    }
.header { background-color: var(--spink);
    border-radius: .8rem;
    font-size: 2rem;
    padding: .5rem;
    font-family: 'Potta One', cursive;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    }
div#header { position: -webkit-sticky;
    position: sticky;
    top: .5rem;
    }
.header:hover { 
    box-shadow: 0 .8rem 1.2rem 0 rgba(0,0,0,0.2);
    }
footer { color: var(--sgray);
    background-color: black;
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    position: absolute;
    left: 0;
    }
#demo {
    font-size: 1.6rem;
}
:link { 
    color: var(--sgray);
    text-decoration: none;
    }
#twitter:visited { 
    color: var(--sgray);
    text-decoration: none;
    }
#twitter:hover { 
    color: var(--sgray);
    text-decoration: underline;
    }
#twitter:active { 
    color: var(--sgray2);
    text-decoration: underline;
    }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--navgray);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
    }
.sidenav a {
    padding: .8rem .8rem .8rem 3.2rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--spink2);
    display: block;
    transition: 0.3s;
    }
.sidenav a:hover {
    color: white;
    }
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.6rem;
    margin-left: 5rem;
    }
.custnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--navgray);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
    }
.custnav a {
    padding: .8rem .8rem .8rem 3.2rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--sgray);
    display: block;
    transition: 0.3s;
    }
.custnav .closebtn2 {
    position: absolute;
    top: 0;
    left: 2.5rem;
    font-size: 3.6rem;
    margin-right: 5rem;
    }
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 1.5rem;}
    .sidenav a {font-size: 1.8rem;}
    }
.skipNav { position: absolute;
    background-color: var(--spink);
    border-radius: 0rem 0rem 1rem 1rem;
    padding: .5rem;
    transform: translateY(-120%);
    top: 0rem; left: 5%;
    color: black;
    }
.skipNav:focus {
    transform: translateY(0);
    }
.update { color: var(--spink);
    background-color: black;
    margin: auto;
    font-size: 1.6rem;
    padding: 5rem;
    width: 50%;
    height: 30rem;
    border: .4rem solid var(--spink2);
    border-radius: 1rem;
    overflow: auto;
    }
::-webkit-scrollbar {
    width: 1em;
    }
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--spink) 40%, var(--sgray));
    border-radius: 50vw;
    }
.h { font-size: 2rem;
    border-radius: 5rem;
    background-color: darksalmon;
    font-family: 'Potta One', cursive;
    box-shadow: 0 .3rem #999;
    opacity: 0.8;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    }
.h:active {
    box-shadow: 0 .3rem #666;
    transform: translateY(.2rem);
    }
.h:hover { opacity: 1 }
div.hb { position: -webkit-sticky;
    position: sticky;
    top: 0;
    }
.sticky, .counter-display { padding: 0 2.5rem;
    background-color: var(--hgray);
    width: 10rem;
    font-size: 1.6rem;
    margin: auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    }