:root {
    --spink: #e60073;
    --spink2: #ac3973;
    --sgray: #595959;
    --sgray2: #3d3d3d;
    --navgray: #111;
    --hgray: #696969;
}
html {
    scroll-behavior: smooth;
    }
body { background-color: var(--sgray);
    font-family: 'Potta One', cursive;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    }
h1 { font-size: 45px;
    color: var(--spink);
    padding: 20px;
    text-shadow: 2px 1.5px black;
    }
#logohome { border: 4px solid black;
    border-radius: 10px 25px;
    padding: 2px;
    background-color: var(--sgray2);
    }
.info { color: var(--spink);
    font-size: 30px;
    text-shadow: 2px 2px black;
    }
hr { border-width: 2px;
    width: 60%;
    }
.header { background-color: var(--spink);
    border-radius: 8px;
    font-size: 20px;
    padding: 5px;
    font-family: 'Potta One', cursive;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    }
div#header { position: -webkit-sticky;
    position: sticky;
    top: 5px;
    }
.header:hover { 
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    }
footer { color: var(--sgray);
    background-color: black;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    }
#twitter:link { 
    color: var(--sgray);
    text-decoration: none;
    }
#twitter:visited { 
    color: var(--sgray);
    text-decoration: none;
    }
#twitter:hover { 
    color: var(--sgray);
    text-decoration: underline;
    }
#twitter:active { 
    color: var(--sgray2);
    text-decoration: underline;
    }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--navgray);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--spink2);
    display: block;
    transition: 0.3s;
    }
.sidenav a:hover {
    color: white;
    }
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
.custnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--navgray);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
.custnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--sgray);
    display: block;
    transition: 0.3s;
    }
.custnav .closebtn2 {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    }
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }
.skipNav { position: absolute;
    background-color: var(--spink);
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    transform: translateY(-120%);
    top: 0px; left: 5%;
    color: black;
    }
.skipNav:focus {
    transform: translateY(0);
    }
.update { color: var(--spink);
    background-color: black;
    margin: auto;
    padding: 50px;
    width: 50%;
    height: 300px;
    border: 4px solid var(--spink2);
    border-radius: 10px;
    overflow: auto;
    }
::-webkit-scrollbar {
    width: 1.5em;
    }
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--spink) 40%, var(--sgray));
    border-radius: 50vw;
    }
.h { font-size: 20px;
    border-radius: 50px;
    background-color: darksalmon;
    font-family: 'Potta One', cursive;
    box-shadow: 0 3px #999;
    opacity: 0.8;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    }
.h:active {
    box-shadow: 0 3px #666;
    transform: translateY(2px);
    }
.h:hover { opacity: 1 }
div.hb { position: -webkit-sticky;
    position: sticky;
    top: 0;
    }
.sticky, .counter-display { padding: 0px 25px;
    background-color: var(--hgray);
    width: 100px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }